AddDefaultCharset UTF-8

php_value display_errors 1
php_value display_startup_errors 1
php_value error_reporting E_ALL

RewriteCond %{SERVER_PORT} !^443$
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R,L]

ErrorDocument 404  /fatal/404.php