@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;515;600;700&display=swap');

*:focus{
	outline: none !important;
}

*, ::after, ::before {
    box-sizing: border-box;
}

a:hover{
	text-decoration: none;
}
a:focus{
	text-decoration: none;
}

*::selection{
	background: rgba(0,0,0,.1);
}

.flex-line{
	display: flex;
}

.nav>li>a{
	padding: 0px;
}

.dropdown-menu{
	min-width: 230px;
}

body{
	background: #fff;
	color: #000;
	font-family: 'Comfortaa', sans-serif;
}

/* Table */
table tbody tr:hover{
	background: rgba(0,0,0,.05);
}

.items{
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto;
}

.content{
	background: #f5f5f5;
	margin-left: 0px;
	height: 96vh; width: 85%;
	margin-top: 2vh;
	float: left;
	padding: 15px;
	border: 4px solid #fff;
	border-radius: 14px;
	box-shadow: 0px 5px 14px #e8e6e6;
}



.btn-neutral{
	background: rgba(0,0,0,0);
}
.btn-neutral:active{
	background: rgba(0,0,0,0);
	box-shadow: none;
}


/* Left nav */
aside{
	float: left;
}
.nav__block{
	padding-left: 15px; padding-right: 15px;
	background: #fff;
	height: 100vh; width: 260px;
}

.nav__block .top__block{
	padding-top: 10px;
}

.nav__block .user__block{
	padding: 5px 5px;
	width: 100%;
	border-top: 1px solid rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(0,0,0,.1);	
	margin-top: 15px;
	color: #212529;
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
}
.nav__block .user__block img{
	border: 2px solid #fff;
	border-radius: 8px;
	box-shadow: 0px 8px 14px rgba(0,0,0,.3);
	width: 60px;
}
.nav__block .user__block div{
	margin-left: 15px;
}
.nav__block .user__block div h2{
	color: #212529;
	font-size: 24px;
}
.nav__block .user__block div p{
	font-size: 13px;
	margin-top: -7px;
}

.burger__btn{
	background: rgba(0,0,0,0);
	color: #000;
	border: none;
}

/* Left nav menu */
.nav__block .nav__menu .nav{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: -5px;
	margin-top: 15px;
}

.nav__block .nav__menu .nav i{
	width: 20px;
	text-align: center;
	font-size: 20px;
	float: left;
	line-height: 50px;
	margin-right: 15px;
	margin-left: 15px;
}
.nav__block .nav__menu .nav a{
	height: 50px; line-height: 50px;
	color: #000;
	text-decoration: none;

	transition: .2s ease;
}
.nav__block .nav__menu .nav a:hover{
	color: #e47297;
}
.nav__block .nav__menu .nav a:active{
	background: rgba(0,0,0,.05);
}




/* Main board styles */
.label__board h2{
	text-align: left;
	font-size: 24px;
	margin-top: 0px;
}